* {
    max-width: 100%;
}
#temp-message {
    background-color: hsl(38, 79%, 62%);
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
nav {
    position: fixed;
    top: 0;
    background-color: #002E40;
    text-align: left;
    margin: 0;
    width: 120%;
    left: 0;
}

.logo-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.logo-container h1 {
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    max-width: 250px;
    font-size: 1.4rem;
    color: #DDDDDD;
    text-align: left;
}
.logo-container .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: #DDDDDD;
    border-radius: 5px;
}
.logo-container .hamburger-menu .menu-icon {
    display: none;
    width: 10px;
    height: 3px;
    background-color: #DDDDDD;
    margin: 0;
}
.logo-container .hamburger-menu .menu-icon:last-child {
    margin-top: 5px;
}
nav ul {
    display: block;
    list-style-type: none;;
    padding: 0;
    background: #55AA99;
    overflow: visible;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;

}
nav ul li {
    display: inline-block;
    margin: 0 15px 0 15px;
    text-decoration: none;
}
nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    background-color: hsla(168, 37%, 43%, 0.502);
    padding: 5px 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 2px solid #000000;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
}
nav ul li a:hover {
    background-color: hsl(168, 37%, 73%);
}
.logo {
    display: inline-block;
    position: static;
    margin-left: -10px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 3%;
    border: 5px solid #013446;
    box-shadow: #55AA99 1px 1px 0px;
}
.sign-up-button {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 50px;
}.sign-up-button a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: hsl(38, 90%, 70%);
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}.sign-up-button a:visited {
    background-color: hsl(38, 0%, 70%);
    color: #FFFFFF;
}.sign-up-button a:active {
    background-color: hsl(38, 90%, 80%);
}.sign-up-button a:hover {
    text-decoration: underline;
}
.logo:hover {
    border: 5px solid #55AA99;
}
body > h1 {
    color: #000000;
    font-size: 36px;
    margin-top: 30px;
}
body {
    margin-top: 25vh;
    background-color: #FFFFFF;
    text-align: center;

}

.hero-image {
    display: inline-block;
    position: static;
    left: 20px;
    top: 10px;
    width: 60vw;
    height: auto;
    border-radius: 3%;
    border: 10px solid #013446;
    box-shadow: #55AA99 5px 5px 0px;
}
#Mission {
    color: #000000;
    font-size: 28px;
    margin-top: 20px;
}
#Mission h2 {
    color: #000000;
    font-size: 28px;
    margin-top: 20px;
    margin-left: -2vw;
}
.team-image {
    display: inline-block;
    position: static;
    left: 20px;
    top: 10px;
    width: 20vw;
    height: auto;
    border-radius: 3%;
    border: 10px solid #013446;
    box-shadow: #55AA99 5px 5px 0px;
}
.team-image:hover {
    border: 10px solid #55AA99;
    box-shadow: none;
    transform: translate(3px, 3px);
    transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
#services h2 {
    color: #DDDDDD;
    font-size: 28px;
    margin-top: 20px;
    margin-left: -2vw; ;
}
#services {
    color: #DDDDDD;
    background: linear-gradient(to top right, #013446, #328675e1);
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0;
    padding: 20px 0px;
}
#services ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    margin-left: 4vw;
}
#contact {
    color: #000000;
    font-size: 20px;
    margin-top: 20px;
    
}
#contact h2 {
    color: #000000;
    font-size: 28px;
    margin-top: 20px;
    margin-left: -2vw;
}
.contact-paragraph-background{
    display: inline-block;
    color: #DDDDDD;
    background-color: #25949D;
/*    background: linear-gradient(to top right, #013446, #328675e1);*/
    width: 90%;
    font-size: 20px;
    margin-top: 20px;
    margin-left: -1vw;
    padding: 20px 25px;
    text-align: center;
}
#contact p {
    color: #DDDDDD;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}
#contact ul {
    
    list-style-type: none;
    padding: 0;
    width: 90%;
    margin-left: 3vw;
}
#contact ul li {
    display: inline-block;
    margin: 20px 0;
    line-height: 40px;
}
#contact ul li a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    background-color: hsl(38, 90%, 70%);
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}
#contact ul li a:visited {
    background-color: hsl(38, 0%, 70%);
    color: #FFFFFF;
}
#contact ul li a:active {
    background-color: hsl(38, 90%, 80%);
}
#contact ul li a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
    }
    nav ul li {
        margin: 10px 0;
    }
    nav ul li a {
        font-size: 1.2rem;
    }
    nav img {
        position: absolute;
        left: 10px;
        top: 5px;
        width: 100px;
        height: auto;
        border-radius: 50px;
    }
}
@media (min-width: 600px) {
    nav ul {
        display: block;
        visibility: visible;
    }
    nav .menu-bar {
        display: none;
    }
}
